[user]
  email = andyson1024@gmail.com
  name = Junan
[core]
  editor = vim
  ignorecase = false
[alias]
  la = log --oneline --decorate --all --graph
  lo = log --oneline --decorate --graph
  co = checkout
  st = status
  lc = shortlog
  ln = rev-list --all --count
  ls = log --graph --all --pretty=format:'%C(auto)%h%C(auto)%d %s %C(bold blue)%an%Creset %C(green)%cd%Creset' --date=format:'%Y-%m-%d %H:%M:%S'
